@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');

/*
    NÃO MUITO RESPONSIVO COM:   
        - JioPhone 2 (320 x 240)
        - Surface Duo (720 x 1114)
*/

@media(max-width: 912px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 896px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 854px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 820px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 786px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 768px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 745px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 732px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 720px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 717px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 712px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 720px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 717px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 667px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 658px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 640px) {
    .cabeça {
        background-image: url('imagens/fundo3.png');
    }
}

@media(max-width: 600px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 480px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 414px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 411px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 393px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 320px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq1.png');
    }
}

@media(max-width: 280px) {
    .cabeça {
        background-image: url('imagens/fundo3-pq4.png');
    }
}

@media(max-width: 320px) {
    .paragrafos {
        font-size: 25px;
    }
    .paragrafoContato {
        font-size: 25px;
    }
}

@media(max-width: 280px) {
    .paragrafos {
        font-size: 21px;
    }
    .paragrafoContato {
        font-size: 21px;
    }
}

@media(max-width: 240px) {
    .paragrafos {
        font-size: 17px;
    }
    .paragrafoContato {
        font-size: 17px;
    }
}

@media(max-width: 240px) {
    .subtitulo {
        margin-left: 80px;
    }
}

@media(min-width: 840px) and (max-width: 959px) {
    .cabelo1 {
        width: 320px;
    }
    .cabelo2 {
        width: 320px;
    }
    .cabelo3 {
        width: 320px;
    }
    .cabelo4 {
        width: 320px;
    }
}

@media(min-width: 720px) and (max-width: 839px) {
    .cabelo1 {
        width: 280px;
    }
    .cabelo2 {
        width: 280px;
    }
    .cabelo3 {
        width: 280px;
    }
    .cabelo4 {
        width: 280px;
    }
}

* {
    margin: 0px;
}

body {
    background-color: rgba(188, 143, 143, 0.144);
}

header {
    height: 100vh;
    background-image: url('imagens/fundo3.png');
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.479);
}

.titulo {
    text-align: center;
    font-family: 'Lovers Quarrel', cursive;
    margin-top: 80px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 100px;
}

h2 {
    font-weight: 100;
    text-align: center;
    font-family: 'Lovers Quarrel', cursive;
    margin-top: -45px;
    margin-right: 0px;
    margin-left: 100px;
    margin-bottom: 80px;
    font-size: 30px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 10px 40px;
    font-size: 28px;
}

section {
    margin: 80px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    width: 240px;
    height: 320px;
    border-radius: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.438);
}

.cabelo1 {
    background: url('imagens/cabelo1.jpg');
    background-position: center center;
    background-size: cover;
}

.cabelo2 {
    background: url('imagens/cabelo2.jpg');
    background-position: center center;
    background-size: cover;
}

.cabelo3 {
    background: url('imagens/cabelo3.jpg');
    background-position: center center;
    background-size: cover;
}

.cabelo4 {
    background: url('imagens/cabelo4.jpg');
    background-position: center center;
    background-size: cover;
}

ul {
    background-color: rgba(188, 143, 143, 0.514);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.438);
    border-radius: 100px 0px 100px 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

li {   
    margin: 20px 30px;
}

li:hover {
    cursor: pointer;
    color: white;
}

li:active {
    cursor: pointer;
    color: white;
}

.contato {
    margin: 40px;
    width: auto;
    height: auto;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div p {
    margin: 10px 0px;
}

.logowhats {
    width: 70px;
    height: 70px;
    margin: 0px -10px;
}

.logowhats:active {
    transform: scale(1.3);
}

.logoinsta {
    width: 70px;
    height: 70px;
    margin: 0px -10px;
}

.logoinsta:active {
    transform: scale(1.3);
}

footer p {
    font-size: 14px;
    margin: 5px 40px;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}